.container-fluid
  .row
    #user-sidebar.col-xs-4
      #user-profile.card
        .card-block
          .card-title
            %h1 #{@user.name}'s page
          .card-text
            フォロー
            %p
              #{@user.following_count}
            フォロワー
            %p
              #{@user.followers_count}
    .col-xs-8
      - @user.following.each do |following|
        .card
          .card-header
            #{following.name}
          .card-block
            .card-text
              #{following.name}
