%div.container-fluid
  %div.row
    %div#user-sidebar.col-xs-4
      %div#user-profile.card
        %div.card-block
          %div.card-title
            %h1 #{@user.name}'s page
          %div.card-text
            フォロー
            %p
              #{@user.following_count}
            フォロワー
            %p
              #{@user.followers_count}
    %div.col-xs-8
      - @user.following.each do |following|
        %div.card
          %div.card-header
            #{following.name}
          %div.card-block
            %div.card-text
              #{following.name}
