%div.container-fluid
  %div.row
    %div#user-sidebar.col-xs-4
      %div.card-block
        %div#user-profile.card
          %div.card-title
            %h1 #{@user.name}'s page
          %div.card-text
            フォロー
            %p
              #{@user.following_count}
            フォロワー
            %p
              #{@user.followers_count}

    %div.col-xs-8
      - @user.get_tweets_include_tweets_of_following.each do |tweet|
        %div.card-block
          %div.card
            %div.card-header
              #{tweet.user.name}
            %div.card-text
              #{tweet.body}

