%div.container-fluid
  %div.row
    %div#user-sidebar.col-xs-4
      %div.card-block
        %div#user-profile.card
          %div.card-title
            %h1 #{@user.name}'s page
          %div.card-text
            フォロー
            %p
              #{@user.following_count}
            フォロワー
            %p
              #{@user.followers_count}
            - unless current_user? @user
              -if @following
                = simple_form_for(@following, url: following_path(@following.following_user_id), method: 'delete') do |f|
                  = f.input :following_user_id, as: :hidden, input_html: { value: @user.id }
                  = f.button :submit, 'フォロー解除', class: "btn btn-danger", data: {disable_with: "フォロー解除中..."}
              -else
                = simple_form_for(Following.new, url: url_for(controller: 'following', action: 'create'), method: 'post') do |f|
                  = f.input :following_user_id, as: :hidden, input_html: { value: @user.id }
                  = f.button :submit, 'フォローする', class: "btn btn-primary", data: {disable_with: "フォロー処理中..."}

    %div.col-xs-8
      - @tweets.each do |tweet|
        %div.card-block
          %div.card
            %div.card-header
              #{tweet.user.name}
            %div.card-text
              #{tweet.body}

