%div.container-fluid
  %div.row
    %div#user-sidebar.col-xs-4
      %div.card-block
        %div#user-profile.card
          %div.card-title
            %h1 #{@user.name}'s page
          %div.card-text
            フォロー
            %p
              #{@user.following_count}
            フォロワー
            %p
              #{@user.followers_count}
            - unless current_user? @user
              = link_to 'フォローする', {controller: :following, action: :create,following: {following_user_id: @user.id}},
               method: :post  , class: "btn btn-primary", remote: true

    %div.col-xs-8
      - @tweets.each do |tweet|
        %div.card-block
          %div.card
            %div.card-header
              #{tweet.user.name}
            %div.card-text
              #{tweet.body}

