-# ツィートをカード形式で表示する
-# @note open_dialogをtrueにしているとuser名称のクリックでuser_tweet_path()を実行し、show_tweet_modal.html.hamlがajaxで描画される。
-#       描画先は#show_tweet_areaが指定されているので同じhtml内で宣言すること
-# @param :tweet [Tweet] 表示したいTweetモデル
-# @param :open_dialog [Boolean] ユーザーをクリックした時にダイアログ表示を行うか
.card.card-tweet{data: {card_id: tweet.id}}
  .card-header
    = default_user_image(tweet.user)
    - if open_dialog
      = link_to tweet.user.name, [tweet.user, tweet], remote:true, data: { show_tweet: 'true', disable_with: '詳細表示中...' }
    - else
      = link_to tweet.user.name, [tweet.user, :tweets]
  .card-block
    .card-text
    = simple_format h(tweet.body)
  .card-footer
    .card-like-area
      = render 'shared/card_parts_like', tweet: tweet
    - if my_tweet? tweet
      .card-edit
        = link_to '編集する', [:edit, tweet.user, tweet], class: 'btn btn-primary btn-sm pull-xs-right'
        = link_to '削除する', [tweet.user, tweet], method: :delete, class: 'btn btn-danger btn-sm pull-xs-right'
