-# ツィートカード表示のフッター部分のlike表示（.card-like-area)以下の部分
-# @note user_tweet_likes_path()のremote:trueで、呼び出し後のajaxで.card-like-areaを再描画することを想定
-# @param :tweet いいねしたいTweetモデル
.card-like-button
  - like = current_user.likes.find_or_initialize_by(tweet_id: tweet)
  - if like.new_record?
    = simple_form_for(like, url: user_tweet_likes_path(tweet.user, tweet), remote: true) do |f|
      = f.button :submit, '♡', class: 'btn btn-primary btn-sm', data: {disable_with: '♡...'}
  - else
    = simple_form_for(like, url: user_tweet_likes_path(tweet.user, tweet), method: 'delete', remote: true) do |f|
      = f.button :submit, '♥', class: 'btn btn-danger btn-sm', data: {disable_with: '♥...'}
.card-like-counter
  = link_to tweet.likes_count, users_list_user_tweet_likes_path(tweet.user, tweet), method: :get
