-# レイアウト左 ログインユーザー情報
-# @param :user [User] 情報表示対象ユーザー
#user-sidebar.col-xs-2
  .card
    #user-profile.card-block
      .card-title
        %h1 #{user.name}'s page
      .card-text
        %div
          = link_to 'ツイート', [user, :tweets]
          %strong
            = link_to user.tweets_count, [user, :tweets]
        %div
          = link_to 'フォロー', [:following, user]
          %strong
            = link_to user.following_count, [:following, user]
        %div
          = link_to  'フォロワー', [:followers, user]
          %strong
            = link_to user.followers_count, [:followers, user]
    = render 'shared/follow_button', following_user: user
