%h1 Listing twitter

%table
  %thead
    %tr
      %th Text
      %th User
      %th
      %th
      %th

  %tbody
    - @twitter.each do |twitter|
      %tr
        %td= twitter.text
        %td= twitter.user_id
        %td= link_to 'Show', twitter
        %td= link_to 'Edit', edit_twitter_path(twitter)
        %td= link_to 'Destroy', twitter, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Twitter', new_twitter_path
