%p#notice= notice

%p
  %b User:
  = @following.user_id
%p
  %b Following user:
  = @following.following_user_id

= link_to 'Edit', edit_following_path(@following)
\|
= link_to 'Back', following_index_path
